.img-a {
  position: absolute;
  width: 960px;
  height: 960px;
  z-index: -2;
  opacity: 75%;
  animation: mymove 250s infinite;
}

.tl {
  top: -480px;
  left: -480px;

}

.br {
  bottom: -1440px;
  right: -480px;
}

@keyframes mymove {
  0% {transform: rotate(360deg);}
}

.img-b {
  position: absolute;
  top: -250px;
  left: -33%;
  width: 640px;
  height: 640px;
  z-index: -1;
  opacity: 75%;
}

