li {
  font-family: 'Montserrat';font-size: 17px;
}
.nav-link:hover, .home {
  color: var(--secondary-color) !important;
  border-bottom: 0.5px solid var(--secondary-color);
}
.last-item {
  margin-right: 450px !important;
}
