<div class="top-nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 mt-5 mb-5">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item me-5">
              <a class="home nav-link text-light display-6" href="/">Home</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link text-light display-6" href="/proyectos">Proyectos</a>
          </li>
          <li class="nav-item me-4">
            <a class="nav-link text-light display-6" href="/contacto">Contacto</a>
        </li>
        <li class="last-item nav-item">
          <a class="nav-link text-light display-6" href="#">Currículum</a>
        </li>
      </ul>
  </div>
  </nav>
</div>
