<div class="container text-center">
  <p class="main-name display-1">Javier Pérez Santos</p>
          <p class="subtitle display-7 text-danger">software developer</p>
          <!-- start icon buttons -->
          <p class="main-icons mt-5">
            <i>⸺</i>
            <!-- instagram icon -->
            <a href="https://www.instagram.com/jvprz_/" target="_blank" class="bi bi-instagram"></a>
            <!-- twitter icon -->
            <a href="https://twitter.com/jprimee_" target="_blank" class="bi bi-twitter"></a>
            <!-- discord icon -->
            <a href="https://discord.com/users/351742989518766090" target="_blank" class="bi bi-discord"></a>
            <!-- linkedin icon -->
            <a href="https://www.linkedin.com/in/jvprz/" target="_blank" class="bi bi-linkedin"></a>
            <!-- github icon -->
            <a href="https://github.com/jvprz" target="_blank" class="bi bi-github"></a>
            <i>⸺</i>
          <!-- end icon buttons -->
          </p>
</div>
