.container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;

  background-color: rgba(255,255,255,0.6);
  backdrop-filter: blur(3px);

  -webkit-box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 10px 28px 0px rgba(0,0,0,0.30);
  border-radius: 5px;

  margin-top: 14%;
  padding-top: 5%;
  padding-bottom: 4%;
}

a {
  margin-right: 1%;
  margin-left: 1%;

  color: #292b2c;
}
a:hover {
  color:#d9534f;
}
