<div class="container">
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="container text-center">
        <p class="main-name display-1 mt-4 extra-bold text-left">JAVIER<br>PÉREZ</p>
        <p class="subtitle display-7 text-danger text-right">SOFTWARE DEVELOPER</p>
      </div>
    </div>
    <div class="col-md-6">
      <img src="./../../../assets/images/icon/icon.png" class="img-fluid">
      <!-- start icon buttons -->
      <p class="main-icons text-center mt-5">
        <!-- instagram icon -->
        <a href="https://www.instagram.com/jvprz_/" target="_blank" class="bi bi-instagram me-4 ms-4 text-dark"></a>
        <!-- twitter icon -->
        <a href="https://twitter.com/jvprz__" target="_blank" class="bi bi-twitter me-4 ms-4 text-dark"></a>
        <!-- discord icon -->
        <a href="https://discord.com/users/351742989518766090" target="_blank" class="bi bi-discord me-4 ms-4 text-dark"></a>
        <!-- linkedin icon -->
        <a href="https://www.linkedin.com/in/jvprz/" target="_blank" class="bi bi-linkedin me-4 ms-4 text-dark"></a>
        <!-- github icon -->
        <a href="https://github.com/jvprz" target="_blank" class="bi bi-github me-4 ms-4 text-dark"></a>
      </p>
    </div>
  </div>
</div>
