img {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  max-width: 50%;
  max-height: 100%;
  overflow: hidden;
  opacity: 50%;
}
.ir-arriba {
	display:none;
	padding:20px;
	background:#024959;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}
